h2{
    color: black;
  }
  
  h1{
    font-size: 40px;
    background-color: orange;
  }
  
  #foto{
    width: 600px;
    
  }
  
  
  
  h4{
    font-size: 20px;
    background-color: white;
    text-align: center;
  }
  
  